h1{
   color:brown;
   text-align:center; 
   font-size: 45px;
}
.div1{
    text-align: center;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color:bisque
}